{% load static %}

<div class="container-xxl py-5">

       <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h3 class="section-title text-center text-primary text-uppercase">Spectacles de théâtre</h3>
                </div>
                <div class="row g-4">
                {% for event in events %}

                    {% if event.type == 'spectacle' %}
                        {% if event.is_Vaide == True %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="room-item shadow rounded overflow-hidden">
                                <div class="position-relative">
                                    <img class="img-fluid" src="{{ event.picture.url }}" alt="">
                                    <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">{{ event.price }} DH</small>
                                </div>
                                <div class="p-4 mt-2">
                                    <div class="d-flex justify-content-between mb-3">
                                        <h5 class="mb-0">{{ event.name }}</h5>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <small class="border-end me-3 pe-3"><i class="fa fa-clock" aria-hidden="true"></i> {{ event.date }}</small>
                                        <small class="border-end me-3 pe-3"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ event.lieu }}</small>
                                    </div>
                                    <p class="text-body mb-3">{{ event.description |truncatechars:100}}.</p>
                                        <div class="d-flex justify-content-between">
                                            <a href=""></a>
                                            <a class="btn btn-sm btn-dark rounded py-2 px-4" href="{% url 'buy' event.id %}">Buy Now</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}

                </div>
       </div>

        <br>
        <br>
        <br>

</div>
