<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s" STYLE="padding-top: 10px;padding-bottom: 10px">
    <div class="copyright">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; 2023 <a class="border-bottom" href="#">Events Reservation</a>, Tous droits réservés.
                <!--/*** Ce modèle est gratuit tant que vous conservez le lien de crédit de l'auteur du pied de page/le lien d'attribution/le lien de retour. Si vous souhaitez utiliser le modèle sans le lien de crédit de l'auteur/le lien d'attribution/le lien de retour, vous pouvez acheter la licence de suppression de crédit sur "https://htmlcodex.com/credit-removal". Merci de votre soutien. ***/-->
                Conçu par <a class="border-bottom" href="https://htmlcodex.com">MASTER SID-BD</a>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <div class="footer-menu">
                    <a href="">Accueil</a>
                    <a href="">Cookies</a>
                    <a href="">Aide</a>
                    <a href="">FAQ</a>
                </div>
            </div>
        </div>
    </div>
</div>
